@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "Dosis";
  src: url("../assets/fonts/dosis/dosis-v18-latin-regular.woff2") format("woff2");
  font-weight: regular;
  font-style: normal; }
@font-face {
  font-family: "Dosis";
  src: url("../assets/fonts/dosis/dosis-v18-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Dosis";
  src: url("../assets/fonts/dosis/dosis-v18-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Oxygen";
  src: url("../assets/fonts/oxygen/oxygen-v10-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Oxygen";
  src: url("../assets/fonts/oxygen/oxygen-v10-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }
/*Colors*/
/* Set Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope"; }

p {
  font-size: 1.1em;
  line-height: 1.4em; }

h1 {
  font-size: 5em;
  font-weight: 700;
  margin: 1rem 0; }

h1.title_page {
  line-height: 0.9; }

h2 {
  font-size: 3em;
  font-weight: 600;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  h2.section_title {
    font-size: 1.8em;
    font-family: "Manrope";
    font-weight: 700;
    z-index: 99; }
  h2.rotated {
    transform: rotate(-90deg) translateY(10px) !important;
    position: absolute;
    padding-right: 4rem;
    white-space: pre; }

h3 {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 2rem; }

.subtitle {
  font-size: 1.2em;
  font-family: "Roboto";
  font-weight: 300; }

.paragraph_title {
  font-size: 1.7em;
  font-weight: 700;
  font-family: "Dosis"; }

#site_title {
  margin-left: 2rem;
  position: relative; }
  #site_title a.btn {
    top: 110%; }

/*Set Paragraphs*/
p, label, button, div, span {
  font-family: "Oxygen"; }

/*Sections*/
section {
  min-height: 100px;
  padding: 10vh 0;
  position: relative; }

section#header {
  background-color: white;
  color: #111d40; }

section#presentation, section#contact {
  background: white; }

section#portfolio {
  background-color: #111d40;
  color: white;
  overflow: hidden; }

section#presentation div.container article:first-child {
  padding-top: 10rem; }

section#competences {
  background-color: #f2d95c; }

section#contact, section#header {
  min-height: 100vh; }

#photo_nasto {
  position: absolute;
  max-width: 10rem;
  right: 10%;
  top: -3rem; }

footer {
  background-color: #025e73;
  height: 5rem;
  position: relative; }
  footer p {
    color: white;
    display: block;
    font-size: 0.8em;
    margin: 0; }

div#dim {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2; }
  div#dim.transparent {
    display: none; }

div.container {
  position: relative; }

/*MENU*/
div#menu-btn {
  position: fixed;
  height: fit-content;
  width: fit-content;
  right: 15vw;
  top: calc(15vw - 10px);
  z-index: 200;
  cursor: pointer;
  mix-blend-mode: difference; }
  div#menu-btn span {
    height: 4px;
    width: 35px;
    border-radius: 20%;
    background: white;
    position: absolute;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1); }
    div#menu-btn span:nth-child(1) {
      top: 0; }
    div#menu-btn span:nth-child(2) {
      top: 10px; }
    div#menu-btn span:nth-child(3) {
      top: 20px; }
  div#menu-btn.opened {
    top: 15vw; }
    div#menu-btn.opened span:nth-child(1) {
      transform: rotate(45deg);
      position: absolute;
      top: 0; }
    div#menu-btn.opened span:nth-child(2) {
      display: none; }
    div#menu-btn.opened span:nth-child(3) {
      transform: rotate(-45deg);
      position: absolute;
      top: 0; }

body {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

html {
  overflow-x: hidden; }

nav#menu-content {
  height: 100vh;
  width: 90vw;
  position: fixed;
  right: 0;
  background: #f2d95c;
  opacity: 1;
  margin-right: 0;
  transition: all 0.5s cubic-bezier(0.26, 0.9, 0.59, 0.95);
  z-index: 100; }
  nav#menu-content.hidden {
    opacity: 0;
    margin-right: -500px;
    z-index: -1; }
  nav#menu-content .social {
    position: absolute;
    bottom: 10em; }
    nav#menu-content .social a {
      width: 3rem; }

ol {
  list-style: none;
  counter-reset: my-awesome-counter; }
  ol li {
    counter-increment: my-awesome-counter;
    margin-bottom: 20px; }
    ol li a {
      color: white;
      font-weight: 400;
      transition: all .5s ease;
      text-decoration: none;
      font-size: 1.2rem;
      text-shadow: black 3px 3px 8px; }
    ol li a:hover {
      text-decoration: none;
      color: white;
      text-shadow: black 0px 0px 8px; }
  ol li::before {
    counter-increment: step-counter;
    content: counter(my-awesome-counter) " ";
    font-weight: bold;
    font-size: 3em;
    margin-left: 0.5rem;
    margin-top: -1.5rem;
    position: absolute;
    z-index: -1;
    color: #005064; }

/*Set buttons*/
.btn {
  background: #f2d95c;
  width: auto;
  height: auto;
  padding: 0.75em 1em;
  border: 0 solid;
  border-radius: 0.5em;
  font-family: "Dosis";
  font-weight: 600;
  font-size: 1.25em;
  color: #111d40;
  text-decoration: none;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute; }
  .btn::after {
    content: url(../files/arrow.svg);
    width: 0.5rem;
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(-100px);
    position: absolute;
    margin-left: 2rem;
    opacity: 0; }
  .btn:hover:after {
    transform: translateX(0);
    transition-delay: 0.15s, 0.20s;
    transition-property: opacity, transform;
    visibility: visible;
    opacity: 1; }

a[href].cta {
  position: absolute;
  right: 10vw; }

/* Contact Form */
section#contact > div {
  margin: 0 10%; }

form.contact input {
  min-height: 2rem; }
form.contact input, form.contact textarea {
  font-size: 0.8em;
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  font-family: "Oxygen";
  font-size: 1.03em; }
form.contact input + input, form.contact input + textarea, form.contact textarea + input {
  margin-top: 1rem; }
form.contact input.btn {
  border: initial;
  position: relative; }

/*Hide*/
form.contact input, form.contact textarea {
  display: none; }
form.contact input:first-of-type {
  display: block; }

/*menu nav*/
nav#menu {
  min-height: 100vh; }

/*Compétences*/
section#competences article div :not(h3) {
  display: none; }
section#competences h3 {
  cursor: pointer; }

div.all-competences {
  margin-top: 5rem;
  padding: 0 5rem;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1); }

div.competence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer; }
  div.competence img {
    height: 10rem; }
  div.competence h3 {
    align-self: center;
    font-size: 1.5em;
    padding-top: 2rem;
    text-align: center;
    transform: translateY(-100px);
    opacity: 0;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); }
  div.competence:hover h3 {
    opacity: 1;
    transform: translateY(0); }

div.alone {
  position: absolute;
  right: -150vw;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #f2d95c;
  display: grid;
  grid-template-columns: 25% 30% 20%;
  grid-template-rows: 90% 10%;
  grid-gap: 2rem; }
  div.alone.translated {
    right: 0; }
  div.alone > img {
    height: 100%;
    width: auto;
    grid-column: 1;
    justify-self: end; }
  div.alone div.skills {
    grid-column: auto;
    align-self: center; }
    div.alone div.skills > div + div {
      margin-top: 1rem; }
  div.alone .btn {
    grid-column: 3;
    grid-row: 2;
    background-color: #f2c166;
    justify-self: center;
    z-index: 1; }

div.skills img {
  width: 2rem;
  height: auto;
  margin-right: 0.8rem; }

#only-dev div.tools {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  #only-dev div.tools svg {
    max-height: 1rem; }

#only-audiovisuel div.tools, #only-communication div.tools {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 60%;
  width: 60%;
  justify-self: center;
  align-self: center; }

div.tools {
  display: grid; }
  div.tools img {
    width: 1rem;
    height: auto; }
  div.tools svg {
    width: 0.75rem;
    height: auto; }
  div.tools .icon {
    transform: scale(2.5);
    align-self: center;
    justify-self: center;
    grid-row: auto;
    grid-column: auto;
    transition: 1s transform cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    div.tools .icon:hover {
      transform: scale(3.5); }
    div.tools .icon:hover > span {
      display: inline; }
    div.tools .icon > span {
      font-size: 0.3em;
      line-height: 0.8em;
      display: none;
      margin-top: 0.1rem;
      text-align: center; }

/*Portfolio*/
section#portfolio .items {
  padding: 0 0; }

section#portfolio .items article {
  position: relative;
  margin: 15vh 0;
  display: flex;
  flex-direction: column; }
  section#portfolio .items article div {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3rem; }
  section#portfolio .items article h4 {
    font-size: 3.5em;
    font-weight: 800;
    line-height: 1em; }
  section#portfolio .items article .btn {
    position: unset;
    margin-top: 1rem;
    align-self: flex-start; }
  section#portfolio .items article img {
    border-radius: 0.3rem;
    max-height: 100%;
    max-width: 100%;
    align-self: center;
    transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1); }
  section#portfolio .items article span.d-inline {
    align-self: flex-start;
    line-height: 2rem; }
    section#portfolio .items article span.d-inline > span {
      white-space: nowrap; }
  section#portfolio .items article .selector {
    cursor: pointer; }
  section#portfolio .items article:hover img {
    transform: scale(1.2); }

.items span.d-inline {
  padding: 0.8rem 0; }

span.category {
  background-color: #025e73;
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
  border-radius: 5px; }

span.date {
  background-color: #f2c166;
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
  border-radius: 5px; }

span.type {
  background-color: #025373;
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
  border-radius: 5px; }

.custom-shape-divider-top-competences {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

.custom-shape-divider-top-competences svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px; }

.custom-shape-divider-top-competences .shape-fill {
  fill: #FFFFFF; }

.custom-shape-divider-top-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

.custom-shape-divider-top-portfolio svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px; }

.custom-shape-divider-top-portfolio .shape-fill {
  fill: #f2d95c; }

.custom-shape-divider-bottom-portfolio {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

.custom-shape-divider-bottom-portfolio svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px; }

.custom-shape-divider-bottom-portfolio .shape-fill {
  fill: #FFFFFF; }

.custom-shape-divider-top-footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); }

.custom-shape-divider-top-footer svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px; }

.custom-shape-divider-top-footer .shape-fill {
  fill: #FFFFFF; }

#rtt {
  position: fixed;
  bottom: 5%;
  z-index: 99;
  left: 85vw;
  transform: rotate(-90deg) scale(0.8);
  width: 4rem;
  cursor: pointer;
  display: none;
  padding: 0.5rem;
  border-radius: 100%;
  background: white;
  width: 50px;
  height: 50px;
  transition: opacity 0.25s ease; }
  #rtt:active, #rtt:hover, #rtt:focus {
    opacity: 0.75; }

/*Responsive*/
@media screen and (max-width: 992px) {
  div.row.all-competences {
    padding: 0 1rem; }

  div.competence h3 {
    font-size: 1.2em; }

  div.alone {
    grid-template-columns: 25% 30% 30%; } }
@media screen and (max-width: 768px) {
  div.row.all-competences {
    padding: 0 0rem; }

  div.competence {
    flex: 100%; }

  div.alone {
    right: -300vw;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr); }
    div.alone .btn {
      grid-column: auto;
      grid-row: 4; }
    div.alone > img {
      justify-self: center;
      height: 100%;
      width: 80vw; } }
/*Tablet*/
@media (min-width: 768px) {
  nav#menu-content {
    width: 30vw; }

  #photo_nasto {
    right: 20rem;
    max-width: 13rem; }

  div#menu-btn {
    left: 85vw;
    top: calc(3vw - 7px);
    width: 45px;
    height: 30px; }
    div#menu-btn.opened {
      top: 3vw; }

  p {
    font-size: 1.18em; }

  section#portfolio .items {
    padding: 0 5%; }
    section#portfolio .items article {
      flex-direction: row; }
      section#portfolio .items article h4 {
        font-size: 5em; }
      section#portfolio .items article img {
        max-width: 20vw; }
      section#portfolio .items article div {
        justify-content: center; }
      section#portfolio .items article p {
        margin-top: 1.5rem; }
      section#portfolio .items article:nth-child(2n+1) {
        flex-direction: row; }
        section#portfolio .items article:nth-child(2n+1) .btn {
          align-self: flex-start; }
        section#portfolio .items article:nth-child(2n+1) div {
          margin-right: 5rem; }
        section#portfolio .items article:nth-child(2n+1) h4, section#portfolio .items article:nth-child(2n+1) p {
          text-align: left; }
      section#portfolio .items article:nth-child(2n+2) {
        flex-direction: row-reverse; }
        section#portfolio .items article:nth-child(2n+2) div {
          margin-left: 5rem; }
        section#portfolio .items article:nth-child(2n+2) .btn {
          align-self: flex-end; }
        section#portfolio .items article:nth-child(2n+2) h4, section#portfolio .items article:nth-child(2n+2) p {
          text-align: right; }
        section#portfolio .items article:nth-child(2n+2) span.d-inline {
          align-self: flex-end; } }
@media screen and (min-width: 1168px) {
  section#portfolio .items {
    padding: 0 15%; } }

/*# sourceMappingURL=style.css.map */
